@import'../plugins/fontawesome/css/all.css';
@import'fonts.css';
@import'footer.css';

body {
    
    font-family: 'Roboto' !important;
    font-size: 18px !important;
}

table {
    table-layout: fixed;
}

td 
{
    padding: 0.5em;
    vertical-align: middle !important;
    overflow: hidden;
    white-space: nowrap;
}

.card {
    border: none;
    /*border-radius: calc(25rem - 1px);*/
}

.card-footer {
    border-radius: 0;
    border: none;
}

.container {
    max-width: 950px;
    width: 95%;
    margin-bottom: 0;
}

section {
    margin-bottom: 0;
}

iframe {
    width: 100% !important;
}

row > .col-xs-3 {
    display:flex;
    flex: 0 0 25%;
    max-width: 25%
}

.flex-nowrap {
    -webkit-flex-wrap: nowrap!important;
    -ms-flex-wrap: nowrap!important;
    flex-wrap: nowrap!important;
}
.flex-row {
    display:flex;
    -webkit-box-orient: horizontal!important;
    -webkit-box-direction: normal!important;
    -webkit-flex-direction: row!important;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
}


.desktop {
    display: block;
}

.mobile {
    display: none;
}

.fixedMessage {
    font-family: arial;
    width: 100%;
    max-width: 210px;
    color: #fff;
    position: fixed; 
    z-index: 100000000000000000000000000000000000000; 
    bottom: 15px; 
    left: 15px;
    background-color: rgba(6, 127, 241, 0.9);
    padding: 14px;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.search {
    font-family: arial;
    width: 100%;
    height: 100%;
    color: #fff;
    position: fixed; 
    z-index: 100000000000000000000000000000000000000; 
    bottom: 0; 
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 14px;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.searchBox {
    height: 100%;
    overflow-y: auto;
    padding: 1em;
    background-color: #fff;
}

.my-navbar a, .my-navbar i {
    color: #09a3d1 !important;
    font-size: 16px;
    text-transform: uppercase !important;
}

@media screen and (max-width: 600px) {
    .desktop {
        display: none;
    }
    
    .mobile {
        display: block;
    }

    body {
        font-size: 13px;
    }
    
  }